{% extends 'base.html' %}
{% load static %}

{% block header %}
Vayal
{% endblock header %}

{% block content %}
<div class="mx-auto max-w-20xl px-6 lg:px-8">
<div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="{% url 'login' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</a>
        <a href="{% url 'vayal_user:register' %}"  class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</a>     
    </div>
</div>
</div>
landing page

{% endblock content %}