{% extends 'base.html' %}

{% block header %}
Login
{% endblock header %}

{% block content %}

<section class="relative w-full h-full bg-gradient-to-br from-green-200 to-green-600"> 
    <!-- Existing large circle -->
    <div class="absolute top-1/2 left-1/3 transform -translate-x-1/2 -translate-y-1/2 w-96 h-96 bg-gradient-to-br from-green-300 to-green-700 rounded-full flex items-center justify-center z-0">
        <h1 class="sm:text-5xl text-4xl font-medium font-semibold title-font italic hover:not-italic text-green-800">
            VAYAL
        </h1>
    </div>

    <!-- New circles with different sizes and colors -->
    {% for i in range(30) %}
        <div class="absolute z-0 w-{{ 24 + (i * 2) }} h-{{ 24 + (i * 2) }} bg-gradient-to-br from-green-{{ 300 + (i * 10) }} to-green-{{ 600 + (i * 10) }} rounded-full" 
             style="top: {{ (i * 3) % 100 }}%; left: {{ (i * 5) % 100 }}%; transform: translate(-50%, -50%);">
        </div>
    {% endfor %}
    
    <div class="mx-auto max-w-20xl px-6 lg:px-9">
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{% url 'vayal_user:register' %}" class="rounded-md bg-green-600 hover:bg-green-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</a>     
            </div>
        </div>
    </div>  

    <!-- Login box with higher z-index to ensure it's above the circles -->
    <div class="flex flex-col items-end justify-center px-6 py-8 pr-36 -mt-8 mx-auto md:h-screen lg:py-0 z-10">
        <div class="bg-white w-xl min-w-max rounded-lg shadow z-10">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-md font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Login to continue.
                </h1>
                <form class="space-y-4 md:space-y-6 max-w-sm" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your Email</label>
                        <input type="username" name="username" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 pr-24" placeholder="Email" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                    </div>
                    {% if form.errors %}
                    <div class="bg-red-100 rounded border-red-400 border text-red-400 text-sm p-2 text-center max-w-sm">
                        Invalid email or password
                    </div>
                    {% endif %}
                    <button type="submit" class="w-full text-white bg-green-300 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}


{% comment %} {% extends 'base.html' %}

{% block header %}
Login
{% endblock header %}

{% block content %}

<section class="relative w-full h-full bg-gradient-to-br from-green-200 to-green-600"> 

    <div class="absolute top-1/2 left-1/3 transform -translate-x-1/2 -translate-y-1/2 w-96 h-96 bg-gradient-to-br from-green-300 to-green-700 rounded-full flex items-center justify-center">
        <h1 class="sm:text-5xl text-4xl font-medium font-semibold title-font italic hover:not-italic text-green-800">
            VAYAL
        </h1>
    </div>

    <div class="absolute top-1/4 left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-72 h-72 bg-gradient-to-br from-green-400 to-green-600 rounded-full"></div>
    <div class="absolute top-3/4 left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 bg-gradient-to-br from-green-200 to-green-500 rounded-full"></div>
    <div class="absolute top-3/4 right-1/4 transform translate-x-1/2 -translate-y-1/2 w-60 h-60 bg-gradient-to-br from-green-500 to-green-800 rounded-full"></div>
    <div class="absolute top-1/4 right-1/4 transform translate-x-1/2 -translate-y-1/2 w-80 h-80 bg-gradient-to-br from-green-300 to-green-500 rounded-full"></div>

    <div class="absolute top-1/8 left-1/8 transform -translate-x-1/2 -translate-y-1/2 w-32 h-32 bg-gradient-to-br from-green-300 to-green-500 rounded-full"></div>
    <div class="absolute top-1/8 right-1/8 transform translate-x-1/2 -translate-y-1/2 w-40 h-40 bg-gradient-to-br from-green-400 to-green-600 rounded-full"></div>
    <div class="absolute top-1/4 left-2/3 transform -translate-x-1/2 -translate-y-1/2 w-52 h-52 bg-gradient-to-br from-green-600 to-green-800 rounded-full"></div>
    <div class="absolute top-3/8 right-2/3 transform translate-x-1/2 -translate-y-1/2 w-36 h-36 bg-gradient-to-br from-green-200 to-green-300 rounded-full"></div>
    <div class="absolute top-3/8 left-1/4 transform -translate-x-1/2 translate-y-1/2 w-54 h-54 bg-gradient-to-br from-green-500 to-green-700 rounded-full"></div>
    <div class="absolute top-2/3 left-1/8 transform -translate-x-1/2 -translate-y-1/2 w-66 h-66 bg-gradient-to-br from-green-400 to-green-500 rounded-full"></div>
    <div class="absolute top-2/3 right-1/4 transform translate-x-1/2 translate-y-1/2 w-60 h-60 bg-gradient-to-br from-green-200 to-green-400 rounded-full"></div>
    <div class="absolute top-1/3 left-3/4 transform -translate-x-1/2 -translate-y-1/2 w-42 h-42 bg-gradient-to-br from-green-300 to-green-600 rounded-full"></div>
    <div class="absolute top-1/3 left-1/2 transform -translate-x-1/2 translate-y-1/2 w-44 h-44 bg-gradient-to-br from-green-500 to-green-800 rounded-full"></div>
    <div class="absolute top-1/2 left-1/8 transform -translate-x-1/2 -translate-y-1/2 w-68 h-68 bg-gradient-to-br from-green-600 to-green-400 rounded-full"></div>
    <div class="absolute top-1/2 right-1/8 transform translate-x-1/2 -translate-y-1/2 w-38 h-38 bg-gradient-to-br from-green-700 to-green-500 rounded-full"></div>
    <div class="absolute top-1/4 left-1/8 transform -translate-x-1/2 -translate-y-1/2 w-55 h-55 bg-gradient-to-br from-green-300 to-green-700 rounded-full"></div>
    <div class="absolute top-1/4 right-1/4 transform translate-x-1/2 -translate-y-1/2 w-77 h-77 bg-gradient-to-br from-green-400 to-green-800 rounded-full"></div>
    <div class="absolute top-1/2 left-2/3 transform translate-x-1/2 -translate-y-1/2 w-82 h-82 bg-gradient-to-br from-green-600 to-green-300 rounded-full"></div>
    <div class="absolute top-2/3 right-1/8 transform translate-x-1/2 -translate-y-1/2 w-30 h-30 bg-gradient-to-br from-green-500 to-green-600 rounded-full"></div>
    <div class="absolute top-2/3 left-1/3 transform -translate-x-1/2 translate-y-1/2 w-56 h-56 bg-gradient-to-br from-green-200 to-green-400 rounded-full"></div>
    <div class="absolute top-3/4 left-3/4 transform translate-x-1/2 translate-y-1/2 w-78 h-78 bg-gradient-to-br from-green-500 to-green-700 rounded-full"></div>
    <div class="absolute top-3/4 right-1/8 transform translate-x-1/2 -translate-y-1/2 w-50 h-50 bg-gradient-to-br from-green-300 to-green-500 rounded-full"></div>
    <div class="absolute top-1/8 left-1/2 transform -translate-x-1/2 -translate-y-1/2 w-70 h-70 bg-gradient-to-br from-green-400 to-green-600 rounded-full"></div>
    <div class="absolute top-1/8 right-1/3 transform translate-x-1/2 -translate-y-1/2 w-80 h-80 bg-gradient-to-br from-green-600 to-green-300 rounded-full"></div>
    <div class="absolute top-3/8 right-1/2 transform translate-x-1/2 translate-y-1/2 w-34 h-34 bg-gradient-to-br from-green-500 to-green-800 rounded-full"></div>
    <div class="absolute top-3/8 left-1/4 transform -translate-x-1/2 translate-y-1/2 w-64 h-64 bg-gradient-to-br from-green-400 to-green-200 rounded-full"></div>
    <div class="absolute top-1/2 left-1/3 transform -translate-x-1/2 -translate-y-1/2 w-40 h-40 bg-gradient-to-br from-green-300 to-green-600 rounded-full"></div>
    <div class="absolute top-1/2 right-1/4 transform translate-x-1/2 translate-y-1/2 w-62 h-62 bg-gradient-to-br from-green-200 to-green-400 rounded-full"></div>
    
    <div class="mx-auto max-w-20xl px-6 lg:px-9">
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{% url 'vayal_user:register' %}" class="rounded-md bg-green-600 hover:bg-green-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</a>     
            </div>
        </div>
    </div>  
    <div class="flex flex-col items-end justify-center px-6 py-8 pr-36 -mt-8 mx-auto md:h-screen lg:py-0">
        <div class="bg-white w-xl min-w-max rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-md font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Login to continue.
                </h1>
                <form class="space-y-4 md:space-y-6 max-w-sm" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your Email</label>
                        <input type="username" name="username" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 pr-24" placeholder="Email" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                    </div>
                    {% if form.errors %}
                    <div class="bg-red-100 rounded border-red-400 border text-red-400 text-sm p-2 text-center max-w-sm">
                        Invalid email or password
                    </div>
                    {% endif %}
                    <button type="submit" class="w-full text-white bg-green-300 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% endcomment %}


{% comment %} {% extends 'base.html' %}

{% block header %}
Login
{% endblock header %}

{% block content %}

<section class="relative w-full h-full bg-gradient-to-br from-green-200 to-green-600"> 
    <!-- Existing large circle -->
    <div class="absolute top-1/2 left-1/3 transform -translate-x-1/2 -translate-y-1/2 w-96 h-96 bg-gradient-to-br from-green-300 to-green-700 rounded-full flex items-center justify-center">
        <h1 class="sm:text-5xl text-4xl font-medium font-semibold title-font italic hover:not-italic text-green-800">
            VAYAL
        </h1>
    </div>

    <!-- New circles with different sizes and colors -->
    <div class="absolute top-1/4 left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-72 h-72 bg-gradient-to-br from-green-400 to-green-600 rounded-full"></div>
    <div class="absolute top-3/4 left-1/4 transform -translate-x-1/2 -translate-y-1/2 w-48 h-48 bg-gradient-to-br from-green-200 to-green-500 rounded-full"></div>
    <div class="absolute top-3/4 right-1/4 transform translate-x-1/2 -translate-y-1/2 w-60 h-60 bg-gradient-to-br from-green-500 to-green-800 rounded-full"></div>
    <div class="absolute top-1/4 right-1/4 transform translate-x-1/2 -translate-y-1/2 w-80 h-80 bg-gradient-to-br from-green-300 to-green-500 rounded-full"></div>
    
    <div class="mx-auto max-w-20xl px-6 lg:px-9">
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{% url 'vayal_user:register' %}" class="rounded-md bg-green-600 hover:bg-green-700 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</a>     
            </div>
        </div>
    </div>  
    <div class="flex flex-col items-end justify-center px-6 py-8 pr-36 -mt-8 mx-auto md:h-screen lg:py-0">
        <div class="bg-white w-xl min-w-max rounded-lg shadow">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-md font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Login to continue.
                </h1>
                <form class="space-y-4 md:space-y-6 max-w-sm" method="post">
                    {% csrf_token %}
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-gray-900">Your Email</label>
                        <input type="username" name="username" id="text" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 pr-24" placeholder="Email" required="">
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Password</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5" required="">
                    </div>
                    {% if form.errors %}
                    <div class="bg-red-100 rounded border-red-400 border text-red-400 text-sm p-2 text-center max-w-sm">
                        Invalid email or password
                    </div>
                    {% endif %}
                    <button type="submit" class="w-full text-white bg-green-300 hover:bg-green-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Login</button>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %} {% endcomment %}


{% comment %} {% extends 'base.html' %}
{% load static %}

{% block header %}
Vayal
{% endblock header %}

{% block content %}
<div class="mx-auto max-w-20xl px-6 lg:px-8">
<div class="hidden lg:flex lg:flex-1 lg:justify-end">
    <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="{% url 'login' %}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Login</a>
        <a href="{% url 'vayal_user:register' %}"  class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign Up</a>     
    </div>
</div>
</div>
landing page

{% endblock content %} {% endcomment %}